{
  "openapi": "3.1.0",
  "info": { "title": "SDAPI - Soccer", "version": "v1" },
  "servers": [
    {
      "url": "https://api.performfeeds.com/soccerdata",
      "description": "StatsPerform API"
    }
  ],
  "tags": [
    { "name": "DEC - Decode", "description": "Decode (DEC)" },
    { "name": "DEL - Deletions", "description": "Deletions (DEL)" },
    {
      "name": "MA0 - Tournament Schedule",
      "description": "Tournament Schedule (MA0)"
    },
    {
      "name": "MA1_Detailed - Fixtures and Results (Detailed)",
      "description": "Fixtures and Results Detailed (MA1_Detailed)"
    },
    {
      "name": "MA1 - Fixtures and Results",
      "description": "Fixtures and Results (MA1)"
    },
    { "name": "MA2 - Match Stats", "description": "Match Stats (MA2)" },
    { "name": "MA3 - Match Events", "description": "Match Events (MA3)" },
    {
      "name": "MA4 - Pass Matrix & Average Formation",
      "description": "Pass Matrix & Average Formation (MA4)"
    },
    { "name": "MA5 - Possession", "description": "Possession (MA5)" },
    { "name": "MA6 - Commentary", "description": "Commentary (MA6)" },
    { "name": "MA8 - Match Preview", "description": "Match Preview (MA8)" },
    { "name": "MA9 - Match facts", "description": "Match facts (MA9)" },
    {
      "name": "MA12 - Match expected goals",
      "description": "Match expected goals (MA12)"
    },
    {
      "name": "MA13 - Possession events",
      "description": "Possession events (MA13)"
    },
    {
      "name": "MA15 - Match facts betting",
      "description": "Match facts betting (MA15)"
    },
    {
      "name": "MA16 - Match facts all",
      "description": "Match facts all (MA16)"
    },
    {
      "name": "MA19 - Match penalties preview",
      "description": "Match penalties preview (MA19)"
    },
    {
      "name": "MA20 - Match player ratings",
      "description": "Match player ratings (MA20)"
    },
    {
      "name": "MA21 - Live win probability",
      "description": "Live win probability (MA21)"
    },
    {
      "name": "MA22 - NLG match preview",
      "description": "NLG match preview (MA22)"
    },
    {
      "name": "MA23 - Automated insights",
      "description": "Automated insights (MA23)"
    },
    { "name": "MA24 - Match Fitness", "description": "Match Fitness (MA24)" },
    { "name": "MA25 - Match Tracking", "description": "Match Tracking (MA25)" },
    {
      "name": "MA26 - NLG Match Recap",
      "description": "NLG Match Recap (MA26)"
    },
    {
      "name": "MA30 - Match Possession Values",
      "description": "Match Possession Values (MA30)"
    },
    { "name": "MA31 - TV Listing", "description": "TV Listing (MA31)" },
    {
      "name": "MA32 - Match Events Possession Value",
      "description": "Match Events Possession Value (MA32)"
    },
    { "name": "MA33 - Shape in-Venue", "description": "Shape in-Venue (MA33)" },
    { "name": "MA34 - Shape Remote", "description": "Shape Remote (MA34)" },
    {
      "name": "MA35 - Enriched Soccer Events Remote",
      "description": "Enriched Soccer Events Remote (MA35)"
    },
    {
      "name": "MA35 - In Venue Aggregated Fitness",
      "description": "In Venue Aggregated Fitness (MA35)"
    },
    {
      "name": "MA36 - Enriched Soccer Event in-Venue",
      "description": "Enriched Soccer Event in-Venue (MA36)"
    },
    {
      "name": "MA39 - Remote Aggregated Events",
      "description": "Remote Aggregated Events (MA39)"
    },
    {
      "name": "MA40 - In Venue Aggregated Events",
      "description": "In Venue Aggregated Events (MA40)"
    },
    {
      "name": "MA41 - Remote Pressure Timeline",
      "description": "Remote Pressure Timeline (MA41)"
    },
    {
      "name": "MA42 - In Venue Pressure Timelines",
      "description": "In Venue Pressure Timelines (MA42)"
    },
    { "name": "MA43 - Match Playtime", "description": "Match Playtime (MA43)" },
    {
      "name": "MA44 - Remote Aggregated Fitness",
      "description": "Remote Aggregated Fitness (MA44)"
    },
    {
      "name": "MA46 - Match Provisional LineUps",
      "description": "Match Provisional LineUps (MA46)"
    },
    {
      "name": "MA47 - Match Corners Preview",
      "description": "Match Corners Preview (MA47)"
    },
    {
      "name": "MA48 - InVenue Match Tracking EPTS",
      "description": "InVenue Match Tracking EPTS (MA48)"
    },
    {
      "name": "MA49 - Remote Match Tracking EPTS",
      "description": "Remote Match Tracking EPTS (MA49)"
    },
    {
      "name": "MA50 - Manager Preview",
      "description": "Manager Preview (MA50)"
    },
    { "name": "MAP - Mappings", "description": "Mappings (MAP)" },
    { "name": "MAR - Match Reference", "description": "Match Reference (MAR)" },
    {
      "name": "OT2 - Tournament Calendars",
      "description": "Tournament Calendars (OT2)"
    },
    { "name": "OT3 - Venues", "description": "Venues (OT3)" },
    { "name": "OT4 - Areas", "description": "Areas (OT4)" },
    { "name": "PE2 - Player career", "description": "Player career (PE2)" },
    { "name": "PE3 - Referees", "description": "Referees (PE3)" },
    { "name": "PE4 - Rankings", "description": "Rankings (PE4)" },
    { "name": "PE6 - Top performers", "description": "Top performers (PE6)" },
    { "name": "PE7 - Injuries", "description": "Injuries (PE7)" },
    { "name": "PE8 - Suspensions", "description": "Suspensions (PE8)" },
    {
      "name": "PE9 - NLG Dynamic Player Bios",
      "description": "NLG Dynamic Player Bios (PE9)"
    },
    {
      "name": "PE10 - Player Possession Value",
      "description": "Player Possession Value (PE10)"
    },
    {
      "name": "PE12 - Player Contract",
      "description": "Player Contract (PE12)"
    },
    { "name": "PE13 - RefereeStats", "description": "RefereeStats (PE13)" },
    { "name": "TM1 - Teams feed", "description": "Teams feed (TM1)" },
    {
      "name": "TM2 - Team Standings",
      "description": "Team Standings feed (TM2)"
    },
    { "name": "TM3 - Squads", "description": "Squads feed (TM3)" },
    {
      "name": "TM4 - Seasonal Statistics",
      "description": "Seasonal Statistics feed (TM4)"
    },
    { "name": "TM7 - Transfers", "description": "Transfers feed (TM7)" },
    { "name": "TM8 - Trophies", "description": "Trophies (TM8)" },
    {
      "name": "TM9 - Season Expected Goals",
      "description": "Season Expected Goals (TM9)"
    },
    {
      "name": "TM10 - Season Player Ratings",
      "description": "Season Player Ratings (TM10)"
    },
    {
      "name": "TM14 - Season Power Rankings",
      "description": "Season Power Rankings (TM14)"
    },
    {
      "name": "TM15 - Team and Player Forecast",
      "description": "Team and Player Forecast (TM15)"
    },
    {
      "name": "TM16 - Contestant Participation",
      "description": "Contestant Participation (TM16)"
    },
    {
      "name": "TM17 - Season Playtime",
      "description": "Season Playtime (TM17)"
    },
    {
      "name": "TM18 - Season and Tournament Simulations",
      "description": "Season and Tournament Simulations (TM18) "
    }
  ],
  "paths": {
    "/venues/{outletAuthKey}": {
      "get": {
        "tags": ["OT3 - Venues"],
        "summary": "Venues",
        "description": "Get venue information",
        "operationId": "getVenue",
        "parameters": [
          {
            "name": "venue",
            "in": "query",
            "description": "Venue UUID",
            "schema": { "type": "string" }
          },
          {
            "name": "ctst",
            "in": "query",
            "description": "Contestant",
            "schema": { "type": "string" }
          },
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "schema": { "type": "string" }
          },
          {
            "name": "_pgSz",
            "in": "query",
            "description": "Page size",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "_pgNm",
            "in": "query",
            "description": "Page Number",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Venues",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VenuesDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/VenuesDto" }
              }
            }
          }
        }
      }
    },
    "/trophies/{outletAuthKey}": {
      "get": {
        "tags": ["TM8 - Trophies"],
        "summary": "Trophies",
        "description": "Get Trophies",
        "operationId": "getTrophies",
        "parameters": [
          {
            "name": "prsn",
            "in": "query",
            "description": "Person uuid",
            "schema": { "type": "string" }
          },
          {
            "name": "comp",
            "in": "query",
            "description": "Competition",
            "schema": { "type": "string" }
          },
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "schema": { "type": "string" }
          },
          {
            "name": "ctst",
            "in": "query",
            "description": "Contestant",
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Trophies",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TrophiesDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/TrophiesDto" }
              }
            }
          }
        }
      }
    },
    "/transfers/{outletAuthKey}": {
      "get": {
        "tags": ["TM7 - Transfers"],
        "summary": "Transfers",
        "description": "GET transfers information according to specified parameter values",
        "operationId": "getTransfers",
        "parameters": [
          {
            "name": "prsn",
            "in": "query",
            "description": "Person uuid",
            "schema": { "type": "string" }
          },
          {
            "name": "strtDt",
            "in": "query",
            "description": "Date range start date (YYYY-MM-DD)",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "endDt",
            "in": "query",
            "description": "Date range end date (YYYY-MM-DD)",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "ctst",
            "in": "query",
            "description": "Contestant",
            "schema": { "type": "string" }
          },
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "schema": { "type": "string" }
          },
          {
            "name": "comp",
            "in": "query",
            "description": "Competition",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfers",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TransfersDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/TransfersDto" }
              }
            }
          }
        }
      }
    },
    "/tournamentschedule/{outletAuthKey}": {
      "get": {
        "tags": ["MA0 - Tournament Schedule"],
        "summary": "Tournament Schedule",
        "description": "Get tournament schedule ",
        "operationId": "getTournamentSchedule",
        "parameters": [
          {
            "name": "cvlv",
            "in": "query",
            "description": "Coverage Level",
            "explode": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Tournament schedule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TournamentScheduleDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TournamentScheduleDto"
                }
              }
            }
          }
        }
      }
    },
    "/tournamentschedule/{outletAuthKey}/{tournamentCalendarUuid}": {
      "get": {
        "tags": ["MA0 - Tournament Schedule"],
        "summary": "Tournament Schedule",
        "description": "Get tournament schedule ",
        "operationId": "getTournamentSchedule_1",
        "parameters": [
          {
            "name": "tournamentCalendarUuid",
            "in": "path",
            "description": "Tournament Calendar",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "cvlv",
            "in": "query",
            "description": "Coverage Level",
            "explode": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Tournament schedule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TournamentScheduleDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TournamentScheduleDto"
                }
              }
            }
          }
        }
      }
    },
    "/tournamentcalendar/{outletAuthKey}": {
      "get": {
        "tags": ["OT2 - Tournament Calendars"],
        "summary": "Tournament Calendars",
        "description": "GET a list of Tournament Calendars",
        "operationId": "getTournamentCalendars",
        "parameters": [
          {
            "name": "stages",
            "in": "query",
            "description": "Stages",
            "schema": { "enum": ["yes", "no"] }
          },
          {
            "name": "coverage",
            "in": "query",
            "description": "Coverage",
            "schema": { "enum": ["yes", "no"] }
          },
          {
            "name": "comp",
            "in": "query",
            "description": "Competitions",
            "explode": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "ctst",
            "in": "query",
            "description": "Contestant",
            "schema": { "type": "string" }
          },
          {
            "name": "_pgSz",
            "in": "query",
            "description": "Page size",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "_pgNm",
            "in": "query",
            "description": "Page Number",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Tournament Calendars",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TournamentCalendarsDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TournamentCalendarsDto"
                }
              }
            }
          }
        }
      }
    },
    "/tournamentcalendar/{outletAuthKey}/{type}": {
      "get": {
        "tags": ["OT2 - Tournament Calendars"],
        "summary": "Tournament Calendars",
        "description": "GET a list of Tournament Calendars",
        "operationId": "getTournamentCalendars_1",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "stages",
            "in": "query",
            "description": "Stages",
            "schema": { "enum": ["yes", "no"] }
          },
          {
            "name": "coverage",
            "in": "query",
            "description": "Coverage",
            "schema": { "enum": ["yes", "no"] }
          },
          {
            "name": "comp",
            "in": "query",
            "description": "Competitions",
            "explode": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "ctst",
            "in": "query",
            "description": "Contestant",
            "schema": { "type": "string" }
          },
          {
            "name": "_pgSz",
            "in": "query",
            "description": "Page size",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "_pgNm",
            "in": "query",
            "description": "Page Number",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Tournament Calendars",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TournamentCalendarsDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TournamentCalendarsDto"
                }
              }
            }
          }
        }
      }
    },
    "/tournamentcalendar/{outletAuthKey}/{type1}/{type2}": {
      "get": {
        "tags": ["OT2 - Tournament Calendars"],
        "summary": "Tournament Calendars",
        "description": "GET a list of Tournament Calendars",
        "operationId": "getTournamentCalendars_2",
        "parameters": [
          {
            "name": "type1",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "type2",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "stages",
            "in": "query",
            "description": "Stages",
            "schema": { "enum": ["yes", "no"] }
          },
          {
            "name": "coverage",
            "in": "query",
            "description": "Coverage",
            "schema": { "enum": ["yes", "no"] }
          },
          {
            "name": "comp",
            "in": "query",
            "description": "Competitions",
            "explode": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "ctst",
            "in": "query",
            "description": "Contestant",
            "schema": { "type": "string" }
          },
          {
            "name": "_pgSz",
            "in": "query",
            "description": "Page size",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "_pgNm",
            "in": "query",
            "description": "Page Number",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Tournament Calendars",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TournamentCalendarsDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TournamentCalendarsDto"
                }
              }
            }
          }
        }
      }
    },
    "/topperformers/{outletAuthKey}": {
      "get": {
        "tags": ["PE6 - Top performers"],
        "summary": "Top performers",
        "description": "Get top performers ranking data",
        "operationId": "getTopPerformers",
        "parameters": [
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Top performers",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TopPerformersDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/TopPerformersDto" }
              }
            }
          }
        }
      }
    },
    "/topperformers/{outletAuthKey}/{tournamentCalendarUuid}": {
      "get": {
        "tags": ["PE6 - Top performers"],
        "summary": "Top performers",
        "description": "Get top performers ranking data",
        "operationId": "getTopPerformers_1",
        "parameters": [
          {
            "name": "tournamentCalendarUuid",
            "in": "path",
            "description": "Tournament Calendar",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Top performers",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TopPerformersDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/TopPerformersDto" }
              }
            }
          }
        }
      }
    },
    "/teamplayerpredictions/{outletAuthKey}": {
      "get": {
        "tags": ["TM15 - Team and Player Forecast"],
        "summary": "Team and Player Forecast",
        "description": "Get Team and Player Forecast",
        "operationId": "getTeamPlayerPredictions",
        "parameters": [
          {
            "name": "stat",
            "in": "query",
            "description": "Statistics",
            "schema": {
              "enum": [
                "yellowCard",
                "fouls",
                "redCard",
                "saves",
                "goalAssist",
                "minutes",
                "goals",
                "ontargetScoringAtt",
                "totalPass",
                "shotOffTarget",
                "blockedScoringAtt",
                "ownGoals",
                "totalTackle",
                "interception",
                "totalCross",
                "wasFouled",
                "totalOffside",
                "penaltyWon",
                "goalConceded",
                "penaltySaved",
                "optaPoints"
              ]
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minute",
            "explode": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "fx",
            "in": "query",
            "description": "Fixture uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Team and Player Forecast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamPlayerPredictionsOutputDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TeamPlayerPredictionsOutputDto"
                }
              }
            }
          }
        }
      }
    },
    "/teamplayerpredictions/{outletAuthKey}/{matchUuid}": {
      "get": {
        "tags": ["TM15 - Team and Player Forecast"],
        "summary": "Team and Player Forecast",
        "description": "Get Team and Player Forecast",
        "operationId": "getTeamPlayerPredictionsById",
        "parameters": [
          {
            "name": "stat",
            "in": "query",
            "description": "Statistics",
            "schema": {
              "enum": [
                "yellowCard",
                "fouls",
                "redCard",
                "saves",
                "goalAssist",
                "minutes",
                "goals",
                "ontargetScoringAtt",
                "totalPass",
                "shotOffTarget",
                "blockedScoringAtt",
                "ownGoals",
                "totalTackle",
                "interception",
                "totalCross",
                "wasFouled",
                "totalOffside",
                "penaltyWon",
                "goalConceded",
                "penaltySaved",
                "optaPoints"
              ]
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minute",
            "explode": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Team and Player Forecast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamPlayerPredictionsOutputDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TeamPlayerPredictionsOutputDto"
                }
              }
            }
          }
        }
      }
    },
    "/team/{outletAuthKey}": {
      "get": {
        "tags": ["TM1 - Teams feed"],
        "summary": "Teams",
        "description": "GET team data according to specified parameter values.",
        "operationId": "getTeams",
        "parameters": [
          {
            "name": "ctry",
            "in": "query",
            "description": "Country",
            "schema": { "type": "string" }
          },
          {
            "name": "stg",
            "in": "query",
            "description": "Stage",
            "schema": { "type": "string" }
          },
          {
            "name": "srs",
            "in": "query",
            "description": "Series",
            "schema": { "type": "string" }
          },
          {
            "name": "ctst",
            "in": "query",
            "description": "Contestant",
            "schema": { "type": "string" }
          },
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "schema": { "type": "string" }
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "Detailed",
            "schema": { "default": "no", "enum": ["yes", "no"] }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "_pgSz",
            "in": "query",
            "description": "Page size",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "_pgNm",
            "in": "query",
            "description": "Page Number",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Teams",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TeamsDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/TeamsDto" }
              }
            }
          }
        }
      }
    },
    "/team/{outletAuthKey}/{contestantId}": {
      "get": {
        "tags": ["TM1 - Teams feed"],
        "summary": "Teams",
        "description": "Get team information only for a specific contestant.",
        "operationId": "getTeam",
        "parameters": [
          {
            "name": "contestantId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "Detailed",
            "schema": { "default": "no", "enum": ["yes", "no"] }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Teams",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TeamsDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/TeamsDto" }
              }
            }
          }
        }
      }
    },
    "/suspensions/{outletAuthKey}": {
      "get": {
        "tags": ["PE8 - Suspensions"],
        "summary": "Suspensions",
        "description": "Get a list of suspended players",
        "operationId": "getSuspensions",
        "parameters": [
          {
            "name": "prsn",
            "in": "query",
            "description": "Person uuid",
            "schema": { "type": "string" }
          },
          {
            "name": "fx",
            "in": "query",
            "description": "Fixture uuid",
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "schema": { "type": "string" }
          },
          {
            "name": "ctst",
            "in": "query",
            "description": "Contestant",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Suspensions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SuspensionsDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/SuspensionsDto" }
              }
            }
          }
        }
      }
    },
    "/standings/{outletAuthKey}": {
      "get": {
        "tags": ["TM2 - Team Standings"],
        "summary": "Team Standings",
        "description": "GET team standings data according to specified parameter values.",
        "operationId": "getTeamStandings",
        "parameters": [
          {
            "name": "stg",
            "in": "query",
            "description": "Stage",
            "schema": { "type": "string" }
          },
          {
            "name": "live",
            "in": "query",
            "description": "Live",
            "schema": { "enum": ["yes", "no"] }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Division Type",
            "schema": {
              "enum": [
                "home",
                "away",
                "total",
                "form-home",
                "form-away",
                "form-total",
                "half-time-home",
                "half-time-away",
                "half-time-total",
                "attendance",
                "over-under",
                "relegation",
                "championship"
              ]
            }
          },
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Team Standings",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TeamStandingsDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/TeamStandingsDto" }
              }
            }
          }
        }
      }
    },
    "/squads/{outletAuthKey}": {
      "get": {
        "tags": ["TM3 - Squads"],
        "summary": "Squads",
        "description": "Get squad and individual personal information",
        "operationId": "getSquads",
        "parameters": [
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "schema": { "type": "string" }
          },
          {
            "name": "ctst",
            "in": "query",
            "description": "Contestant",
            "schema": { "type": "string" }
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "Detailed",
            "schema": { "default": "no", "enum": ["yes", "no"] }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "_pgSz",
            "in": "query",
            "description": "Page size",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "_pgNm",
            "in": "query",
            "description": "Page Number",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Squads",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TeamSquadDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/TeamSquadDto" }
              }
            }
          }
        }
      }
    },
    "/seasonstats/{outletAuthKey}": {
      "get": {
        "tags": ["TM4 - Seasonal Statistics"],
        "summary": "Seasonal Statistics",
        "description": "GET seasonal statistics according to specified parameter values",
        "operationId": "getSeasonalStats",
        "parameters": [
          {
            "name": "comp",
            "in": "query",
            "description": "Competition",
            "schema": { "type": "string" }
          },
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "schema": { "type": "string" }
          },
          {
            "name": "ctst",
            "in": "query",
            "description": "Contestant",
            "schema": { "type": "string" }
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "Detailed",
            "schema": { "default": "no", "enum": ["yes", "no"] }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Seasonal Stats",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SeasonalStatsDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/SeasonalStatsDto" }
              }
            }
          }
        }
      }
    },
    "/seasonpowerrankings/{outletAuthKey}": {
      "get": {
        "tags": ["TM14 - Season Power Rankings"],
        "summary": "Season Power Rankings",
        "description": "Get Season Power Rankings",
        "operationId": "getSeasonPlayerRatingsById",
        "parameters": [
          {
            "name": "confed",
            "in": "query",
            "description": "Confederation",
            "schema": { "enum": ["yes", "no"] }
          },
          {
            "name": "rank",
            "in": "query",
            "description": "Rank",
            "schema": { "type": "string" }
          },
          {
            "name": "rankDt",
            "in": "query",
            "description": "Rank date",
            "schema": { "type": "string" }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type",
            "schema": { "enum": ["men", "women"] }
          },
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Season Power Rankings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonPowerRankingsDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonPowerRankingsDto"
                }
              }
            }
          }
        }
      }
    },
    "/seasonplaytime/{outletAuthKey}": {
      "get": {
        "tags": ["TM17 - Season Playtime"],
        "summary": "Season Playtime",
        "description": "Get Season Playtime",
        "operationId": "getSeasonPlayTime",
        "parameters": [
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "schema": { "type": "string" }
          },
          {
            "name": "ctst",
            "in": "query",
            "description": "Contestant",
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Season Playtime",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SeasonPlayTimeDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/SeasonPlayTimeDto" }
              }
            }
          }
        }
      }
    },
    "/seasonplaytime/{outletAuthKey}/{tournamentCalendarUuid}": {
      "get": {
        "tags": ["TM17 - Season Playtime"],
        "summary": "Season Playtime",
        "description": "Get Season Playtime",
        "operationId": "getSeasonPlayTimeById",
        "parameters": [
          {
            "name": "tournamentCalendarUuid",
            "in": "path",
            "description": "Tournament Calendar",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "ctst",
            "in": "query",
            "description": "Contestant",
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Season Playtime",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SeasonPlayTimeDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/SeasonPlayTimeDto" }
              }
            }
          }
        }
      }
    },
    "/seasonplayerratings/{outletAuthKey}": {
      "get": {
        "tags": ["TM10 - Season Player Ratings"],
        "summary": "Season Player Ratings",
        "description": "Get Season Player Ratings",
        "operationId": "getSeasonPlayerRatingsById_1",
        "parameters": [
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "schema": { "type": "string" }
          },
          {
            "name": "ctst",
            "in": "query",
            "description": "Contestant",
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Season Player Ratings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonPlayerRatingsDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonPlayerRatingsDto"
                }
              }
            }
          }
        }
      }
    },
    "/seasonexpectedgoals/{outletAuthKey}": {
      "get": {
        "tags": ["TM9 - Season Expected Goals"],
        "summary": "Season Expected Goals",
        "description": "Get Season Expected Goals",
        "operationId": "searchSeasonExpectedGoals",
        "parameters": [
          {
            "name": "comp",
            "in": "query",
            "description": "Competition",
            "schema": { "type": "string" }
          },
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "schema": { "type": "string" }
          },
          {
            "name": "ctst",
            "in": "query",
            "description": "Contestant",
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Season Expected Goals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonExpectedGoalsDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonExpectedGoalsDto"
                }
              }
            }
          }
        }
      }
    },
    "/seasonandtournamentsimulations/{outletAuthKey}": {
      "get": {
        "tags": ["TM18 - Season and Tournament Simulations"],
        "summary": "Season and Tournament Simulations",
        "description": "Get Season and Tournament Simulations",
        "operationId": "getSeasonAndTournamentPredictions",
        "parameters": [
          {
            "name": "stg",
            "in": "query",
            "description": "Stage",
            "schema": { "type": "string" }
          },
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Season and Tournament Simulations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonAndTournamentSimulationsDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonAndTournamentSimulationsDto"
                }
              }
            }
          }
        }
      }
    },
    "/remoteshape/{outletAuthKey}": {
      "get": {
        "tags": ["MA34 - Shape Remote"],
        "summary": "Shape Remote",
        "description": "Get Shape Remote list",
        "operationId": "getMatchBroadcastShape",
        "parameters": [
          {
            "name": "fx",
            "in": "query",
            "description": "Fixture uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Shape Remote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchBroadcastShapeDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/MatchBroadcastShapeDto"
                }
              }
            }
          }
        }
      }
    },
    "/remoteshape/{outletAuthKey}/{matchUuid}": {
      "get": {
        "tags": ["MA34 - Shape Remote"],
        "summary": "Shape Remote",
        "description": "Get Shape Remote list",
        "operationId": "getMatchBroadcastShapeById",
        "parameters": [
          {
            "name": "matchUuid",
            "in": "path",
            "description": "Fixture/match uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Shape Remote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchBroadcastShapeDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/MatchBroadcastShapeDto"
                }
              }
            }
          }
        }
      }
    },
    "/remotepressuretimeline/{outletAuthKey}": {
      "get": {
        "tags": ["MA41 - Remote Pressure Timeline"],
        "summary": "Remote Pressure Timeline",
        "description": "Get remote pressure timeline",
        "operationId": "getRemotePressureTimeline",
        "parameters": [
          {
            "name": "fx",
            "in": "query",
            "description": "Fixture uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Remote pressure timeline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemotePressureTimelineDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RemotePressureTimelineDto"
                }
              }
            }
          }
        }
      }
    },
    "/remotepressuretimeline/{outletAuthKey}/{matchUuid}": {
      "get": {
        "tags": ["MA41 - Remote Pressure Timeline"],
        "summary": "Remote Pressure Timeline",
        "description": "Get remote pressure timeline",
        "operationId": "getRemotePressureTimelineById",
        "parameters": [
          {
            "name": "matchUuid",
            "in": "path",
            "description": "Fixture/match uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Remote pressure timeline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemotePressureTimelineDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RemotePressureTimelineDto"
                }
              }
            }
          }
        }
      }
    },
    "/remotematchtrackingepts/{outletAuthKey}": {
      "get": {
        "tags": ["MA49 - Remote Match Tracking EPTS"],
        "summary": "Remote Match Tracking EPTS",
        "description": "Get remote match tracking epts data",
        "operationId": "getRemoteMatchTrackingEpts",
        "parameters": [
          {
            "name": "fx",
            "in": "query",
            "description": "Fixture uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Remote Match Tracking EPTS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteMatchTrackingEptsDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteMatchTrackingEptsDto"
                }
              }
            }
          }
        }
      }
    },
    "/remotematchtrackingepts/{outletAuthKey}/{matchUuid}": {
      "get": {
        "tags": ["MA49 - Remote Match Tracking EPTS"],
        "summary": "Remote Match Tracking EPTS",
        "description": "Get remote match tracking epts data",
        "operationId": "getRemoteMatchTrackingEptsById",
        "parameters": [
          {
            "name": "matchUuid",
            "in": "path",
            "description": "Fixture/match uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Remote Match Tracking EPTS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteMatchTrackingEptsDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteMatchTrackingEptsDto"
                }
              }
            }
          }
        }
      }
    },
    "/remoteevents/{outletAuthKey}": {
      "get": {
        "tags": ["MA35 - Enriched Soccer Events Remote"],
        "summary": "Enriched Soccer Events Remote",
        "description": "Get Enriched Soccer Events (Remote) list",
        "operationId": "getBroadcastEvents",
        "parameters": [
          {
            "name": "fx",
            "in": "query",
            "description": "Fixture uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Enriched Soccer Events Remote",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BroadcastEventsDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/BroadcastEventsDto" }
              }
            }
          }
        }
      }
    },
    "/remoteevents/{outletAuthKey}/{matchUuid}": {
      "get": {
        "tags": ["MA35 - Enriched Soccer Events Remote"],
        "summary": "Enriched Soccer Events Remote",
        "description": "Get Enriched Soccer Events (Remote) list",
        "operationId": "getBroadcastEventsById",
        "parameters": [
          {
            "name": "matchUuid",
            "in": "path",
            "description": "Fixture/match uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Enriched Soccer Events Remote",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BroadcastEventsDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/BroadcastEventsDto" }
              }
            }
          }
        }
      }
    },
    "/remoteaggregatedfitness/{outletAuthKey}": {
      "get": {
        "tags": ["MA44 - Remote Aggregated Fitness"],
        "summary": "Remote Aggregated Fitness",
        "description": "Get remote aggregated fitness",
        "operationId": "getRemoteAggregatedFitness",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Type",
            "schema": { "enum": ["fifa", "historical"] }
          },
          {
            "name": "fx",
            "in": "query",
            "description": "Fixture uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Remote aggregated fitness",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteAggregatedFitnessDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteAggregatedFitnessDto"
                }
              }
            }
          }
        }
      }
    },
    "/remoteaggregatedfitness/{outletAuthKey}/{matchUuid}": {
      "get": {
        "tags": ["MA44 - Remote Aggregated Fitness"],
        "summary": "Remote Aggregated Fitness",
        "description": "Get remote aggregated fitness",
        "operationId": "getRemoteAggregatedFitnessByID",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Type",
            "schema": { "enum": ["fifa", "historical"] }
          },
          {
            "name": "matchUuid",
            "in": "path",
            "description": "Fixture/match uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Remote aggregated fitness",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteAggregatedFitnessDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteAggregatedFitnessDto"
                }
              }
            }
          }
        }
      }
    },
    "/remoteaggregatedevents/{outletAuthKey}": {
      "get": {
        "tags": ["MA39 - Remote Aggregated Events"],
        "summary": "Remote Aggregated Events",
        "description": "Get remote aggregated events",
        "operationId": "getRemoteAggregatedEvents",
        "parameters": [
          {
            "name": "fx",
            "in": "query",
            "description": "Fixture uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Remote aggregated events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteAggregatedEventsDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteAggregatedEventsDto"
                }
              }
            }
          }
        }
      }
    },
    "/remoteaggregatedevents/{outletAuthKey}/{matchUuid}": {
      "get": {
        "tags": ["MA39 - Remote Aggregated Events"],
        "summary": "Remote Aggregated Events",
        "description": "Get remote aggregated events",
        "operationId": "getRemoteAggregatedEventsById",
        "parameters": [
          {
            "name": "matchUuid",
            "in": "path",
            "description": "Fixture/match uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Remote aggregated events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteAggregatedEventsDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteAggregatedEventsDto"
                }
              }
            }
          }
        }
      }
    },
    "/refereestats/{outletAuthKey}": {
      "get": {
        "tags": ["PE13 - RefereeStats"],
        "summary": "Referee Stats",
        "description": "Get Referee Stats",
        "operationId": "getRefereeStats",
        "parameters": [
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Referee Stats",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RefereeStatsDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/RefereeStatsDto" }
              }
            }
          }
        }
      }
    },
    "/referees/{outletAuthKey}": {
      "get": {
        "tags": ["PE3 - Referees"],
        "summary": "Referees",
        "description": "Get information about referees",
        "operationId": "getReferees",
        "parameters": [
          {
            "name": "prsn",
            "in": "query",
            "description": "Person uuid",
            "schema": { "type": "string" }
          },
          {
            "name": "stg",
            "in": "query",
            "description": "Stage uuid",
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "_pgSz",
            "in": "query",
            "description": "Page size",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "_pgNm",
            "in": "query",
            "description": "Page Number",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Referees",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RefereesDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/RefereesDto" }
              }
            }
          }
        }
      }
    },
    "/rankings/{outletAuthKey}": {
      "get": {
        "tags": ["PE4 - Rankings"],
        "summary": "Rankings",
        "description": "Get rankings data",
        "operationId": "getMatchPreview",
        "parameters": [
          {
            "name": "tmcl",
            "in": "query",
            "description": "Tournament Calendar",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Rankings",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RankingsDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/RankingsDto" }
              }
            }
          }
        }
      }
    },
    "/rankings/{outletAuthKey}/{tournamentCalendarUuid}": {
      "get": {
        "tags": ["PE4 - Rankings"],
        "summary": "Rankings",
        "description": "Get rankings data",
        "operationId": "getMatchPreview_1",
        "parameters": [
          {
            "name": "tournamentCalendarUuid",
            "in": "path",
            "description": "Tournament Calendar",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Rankings",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RankingsDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/RankingsDto" }
              }
            }
          }
        }
      }
    },
    "/possessionevent/{outletAuthKey}": {
      "get": {
        "tags": ["MA13 - Possession events"],
        "summary": "Possession events",
        "description": "Get possession events",
        "operationId": "searchPossessionEvents",
        "parameters": [
          {
            "name": "fx",
            "in": "query",
            "description": "Fixture uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Possession events",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PossessionEventsDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/PossessionEventsDto" }
              }
            }
          }
        }
      }
    },
    "/possessionevent/{outletAuthKey}/{matchUuid}": {
      "get": {
        "tags": ["MA13 - Possession events"],
        "summary": "Possession events",
        "description": "Get possession events",
        "operationId": "getPossessionEventsById",
        "parameters": [
          {
            "name": "matchUuid",
            "in": "path",
            "description": "Fixture/match uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Possession events",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PossessionEventsDto" }
              },
              "application/xml": {
                "schema": { "$ref": "#/components/schemas/PossessionEventsDto" }
              }
            }
          }
        }
      }
    },
    "/possession/{outletAuthKey}": {
      "get": {
        "tags": ["MA5 - Possession"],
        "summary": "Possession",
        "description": "Get possession",
        "operationId": "searchPossession",
        "parameters": [
          {
            "name": "fx",
            "in": "query",
            "description": "Fixture uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Possession",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PossessionTerritoryDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PossessionTerritoryDto"
                }
              }
            }
          }
        }
      }
    },
    "/possession/{outletAuthKey}/{matchUuid}": {
      "get": {
        "tags": ["MA5 - Possession"],
        "summary": "Possession",
        "description": "Get possession",
        "operationId": "getPossessionById",
        "parameters": [
          {
            "name": "matchUuid",
            "in": "path",
            "description": "Fixture/match uuid",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_lcl",
            "in": "query",
            "description": "Language",
            "schema": { "type": "string" }
          },
          {
            "name": "outletAuthKey",
            "in": "path",
            "description": "Outlet auth key",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "_fmt",
            "in": "query",
            "description": "Format",
            "schema": { "default": "xml", "enum": ["xml", "json", "jsonp"] }
          },
          {
            "name": "_rt",
            "in": "query",
            "description": "Mode",
            "schema": { "enum": ["b", "c"] }
          },
          {
            "name": "_clbk",
            "in": "query",
            "description": "JSONP callback function",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Possession",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PossessionTerritoryDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PossessionTerritoryDto"
                }
              }
            }
          }
        }
      }
    },
[...]
